@font-face {
    font-family: 'BMHANNAAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/BMHANNAAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body { background-color: #ffd95a; font-family: 'BMHANNAAir'; }

.chat-list {
    padding: 0;
    font-size: .8rem;
}

.chat-list li {
    margin-bottom: 10px;
    overflow: auto;
    color: #000000;
}

.chat-list .chat-img {
    float: left;
    width: 48px;
    width: 6%;
    height: 6%;
}

.chat-list .chat-img img {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100%;
}

.chat-list .chat-message {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #fdffd7;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}


.chat-list .chat-message:before {
    content: "";
    position: absolute;
    top: 15px;
    width: 0;
    height: 0;
}

.chat-list .chat-message h5 {
    margin: 0 0 5px 0;
    font-weight: 600;
    line-height: 100%;
    font-size: 20px;
}

.chat-list .chat-message p {
    line-height: 18px;
    margin: 0;
    padding: 4px;
    font-size: 17px;
}

.chat-list .chat-body {
    margin-left: 20px;
    float: left;
    width: 70%;
}

#longchat {
    margin-left: 20px;
    float: left;
}


.chat-list .in .chat-message:before {
    left: -12px;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #fdffd7;
}


.card .card-header:first-child {
    -webkit-border-radius: 0.3rem 0.3rem 0 0;
    -moz-border-radius: 0.3rem 0.3rem 0 0;
    border-radius: 0.3rem 0.3rem 0 0;
}
.card .card-header {
    background: #17202b;
    border: 0;
    font-size: 1rem;
    padding: .65rem 1rem;
    position: relative;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}

.container{
    margin-top: 180px;
    margin-left: 500px;
    margin-right: 450px;
   
}

#herehow {
    color: rgb(232, 40, 40);
    text-decoration: none ;
    font-weight: bold;
}

#herevideo {
    color: rgb(8, 160, 0);
    text-decoration: none ;
    font-weight: bold;
}

#heremain {
    color: rgb(224, 1, 224);
    text-decoration: none ;
    font-weight: bold;
}

button {
    padding:0;
    background:none;
    border:0;
    cursor:pointer;
}
  

.btnBox {
    text-align:center;
}
  
.popOpenBtnCmmn {
    width:100px; 
    height:30px; 
    background:#000; 
    color:#fff; 
    font-size:16px;
    opacity:0.7;
    transition:all 0.3s;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}
  
.popOpenBtnCmmn:hover {
    opacity:1;
}
  
.popCmmn {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
  
.popBg {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
}
  
.popInnerBox {
    display:flex;
    justify-content:space-between;
    flex-direction:column;
    position:absolute;
    top:25%;
    left:40%;
    width:700px;
    height:550px;
    margin:-20px 0 0 -200px;
    text-align:center;
    background:#fff;
    border-radius:5px;
}
  
.popHead {
    padding:15px;
    background:#000;
    color:#fff;
    font-size:18px;
}
  
#popBodyText {
    padding:10px;
    box-sizing:border-box;
    font-size:20px;
}
  
.popCloseBtnCmmn {
    width:30%;
    margin:10px;
    padding:10px;
    font-size:16px;
    background:#999;
    color:#fff;
    transition:all 0.3s;
}
  
.popCloseBtnCmmn:hover {
    background:#666;
}
  